<div class="container">
  <div class="row">
    <h1>Inicio</h1>
    <div class="col">
      <div *ngFor="let i of info" class="contenido"></div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{i.nombre}}</mat-card-title>
          <mat-card-subtitle>{{i.raza}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/200x150/3f/2a/c5/3f2ac5cfca2d6dc4cb66a3cdaf974342.jpg" alt="pato">
        <mat-card-content>
          <p>
           edad:{{i.edad}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

